/*SCSS variables*/

$body-background-color: #a37c40;
$form-background-color: #e16f7c;
$input-color: #d1f5be;
$headlines-color : #dd5e98;


body {
    background-color: $body-background-color;          
}
$break-small: 700px;
$break-large: 900;

